<!DOCTYPE html>
<html lang="ja">
  
<head>
<title>児童一覧</title>
</head>
<body>
  <h1>児童一覧</h1>
  <table border="1" width="600">
    <tr>
      <th>名前</th>
      <th>誕生日</th>
      <th>児童相談所名</th>
      <th>児童番号</th>
    </tr>
      <% @children.each do |child| %>
    <tr>
      <td><%=child.name%></td>
  
      <td><%=l child.birthday%></td>
  
      <td><%=child.child_centers_name%></td>
   
      <td><%=child.child_number%></td>
        <% if current_user.admin? %>
          <td><%= link_to "削除", child, method: :delete,data: { confirm: "本当に削除しますか?" } %></td>
        <% end %>
    </tr>
      <% end %>
    </tr>
  </table>
</body>
</html>