<h2> 児童　新規登録</h2>

<div class="c_signup">
  <%= form_with model: @child do |f| %>
    <%= f.label :"名前" %>
    <%= f.text_field :name %>
    
    <%= f.label :"生年月日" %>
    <%= f.text_field :birthday %>
    
    <%= f.label :"児童相談所名" %>
    <%= f.text_field :child_centers_name %>
    
    <%= f.label :"児童番号" %>
    <%= f.text_field :child_number %>
    
    <%= f.submit "新規登録" %>
  <% end %>
</div> 