<h2 class="page-name">ユーザー情報　編集</h2>

<div class="form-field">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
    <li>
      <%= f.label "メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </li>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <li>
    <%= f.label "パスワード(未変更の場合は入力しないでください)"%><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </li>

  <li>
    <%= f.label "パスワード確認" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </li>

  <li>
    <%= f.label "現在のパスワード" %><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </li>

  <li class="btn">
    <%= f.submit "変更" %>
  </li>
<% end %>
</div>
