<!DOCTYPE html>
<html>
<head>
<title>生活状況</title>
</head>
<body>
 <table border="1" width="200">
    <tr>
      <th　width="30%">名前</th>
      <th　width="70%">生活状況</th>
    </tr>
    <tr>
      <td><%= @child.name %> </td>
      <td>
        <%= form_for (@children_diary) do |f| %>
        <%= f.hidden_field :child, :value => @children.id %>
        <%= f.hidden_field :group, :value => group.id %>
        <%= f.hidden_field :user, :value => @user.id %>
        <div class="field">
          <%= f.text_area :living %>
        </div>
        <%= f.submit "保存" %>
        <% end %>
      </td>
    </tr>
     
     
  </table>
</body>
</html>