<h2 class="page-name">ロック解除手順の再送信</h2>
<div class="form-field">
  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <li>
      <%= f.label "メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "emai" %>
    </li>

    <li class="btn">
      <%= f.submit "メール送信" %>
    </li>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
