<h2 class="page-name">パスワードを忘れましたか？</h2>
<div class="form-field">

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <li>
    <%= f.label "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </li>

  <div class="btn">
    <%= f.submit "送信" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
