
   <h1 class="page-name">〇〇施設　養護日誌</h1>
   
   <div class="home">
    <div class="home_field">
     <div class="home_field_link">
      <p><%= link_to '生活状況', "/living" ,class: "link"%></p>
      <p><%= image_tag 'children.jpg' ,width: '50%', height: '30%' %></p>
     </div>
    </div>
     
    <div class="home_field">
     <div class="home_field_link">
      <p><%= link_to '健康状況', "/health" ,class: "link"%></p>
      <p><%= image_tag 'health.jpg',width: '50%', height: '30%'  %></p>
     </div>
    </div>
    
    <div class="home_field">
     <div class="home_field_link">
      <p><%= link_to '面会状況', "/visit" ,class: "link"%></p>
      <p><%= image_tag 'flower.jpg',width: '50%', height: '30%'  %></p>
     </div>
    </div>
     
    <div class="home_field">
     <div class="home_field_link">
      <p><%= link_to '共有事項', "/information",class: "link" %></p>
      <p><%= image_tag 'information.jpg',width: '50%', height: '30%'  %></p>
     </div>
    </div>
   </div>
 