<h1 class="diary-index">児童状況一覧</h1>

  <div class="search">
    <%= form_with url: diary_search_path, method: :get, local: true do |f| %>
  　   <%= f.date_field :date %>
    　<%= f.submit "検索" %>
    <% end %>
  </div>
  
  <table border="1">
  <% unless @diaries.present? %>
    <h2 class = "seach-result">検索結果はありません</h2>
  <% else %>
  <thead>
    <tr>
      <th>児童名</th>
      <th class="table-diary">日誌内容</th>
      <th>年月日</th>
      <th> </th>
      <th> </th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <% @diaries.each do |diary| %>
      <% child = Child.find_by(id: diary.children_id) %>
      <tr>
        <td><%= child.name %></td>
        <td>
             <%if diary.living.present?%><%= "(生活状況)   #{diary.living}"%><%end%>
             <%if diary.health.present?%><%= "(健康状況)   #{diary.health}"%><%end%>
             <%if diary.visit.present?%><%= "(面会状況)   #{diary.visit}"%><%end%>
             <%if diary.information.present?%><%= "(共有事項)   #{diary.information}"%><%end%>
        </td>
        <td><%= l(diary.date,format: :short) %></td>
        <td><%= link_to "詳細を見る",diary,method: :get %></td>
        <td><%= link_to "削除",diary, method: :delete %></td>
        <td><%= link_to "追加・更新", edit_children_diary_path(diary.id) %></td>
        
      </tr>
    <% end %>
  </tbody>
  <% end %>
</table>

<%= link_to "日誌印刷",  post_pdf_index_url(format: "pdf",:children_diary => @diaries, :search_date => params[:date]) %>

