<!DOCTYPE html>
<html>
<head>
<title>生活状況</title>
</head>
<body>
 <table border="1" width="400">
    <tr>
      <th　width="30%">名前</th>
      <th　width="70%">生活状況</th>
    </tr>
    <tr>
      <td>
        <%= form_with model: @children_diary, :local => true do |f| %>
          <%= f.hidden_field :group_id, :value => 1 %>
          <div class="field">
            <%= f.collection_select(:children_id, @children, :id, :name)%>
            <%= f.text_area :living %>
          </div>
          <%= f.submit "保存" %>
        <% end %>
      </td>
    </tr>
     
     
  </table>
</body>
</html>