<%= render 'btn' %>

<h1 class="page-name">面会状況</h1>
  <tr>
    <td>
        <%= form_with model: @children_diary, :local => true do |f| %>
          <div class="form-field">
            <li><%= f.collection_select(:children_id, @children, :id, :name)%></li>
            <li><%= f.date_field :date %></li>
            <li><%= f.text_area :visit %></li>
            <li><%= f.submit "保存" %></li>
          </div>
        <% end %>
      </td>
    </td>
  </tr>