<h1>面会状況</h1>
  <tr>
    <td>
      <%= form_with model: @children_diary, :local => true do |f| %>
        <div class="field">
          <%= f.collection_select(:children_id, @children, :id, :name)%>
          <%= f.date_field :date %>
          <%= f.text_area :visit %>
        </div>
          <%= f.submit "保存" %>
        <% end %>
    </td>
  </tr>